<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uenak.com</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="shortcut icon" href="assets/img/logo1.jpeg">
	<script src="js/javascript.js" type="text/javascript"></script>
    <script src="js/angular-1.7.5/angular.min.js" type="text/javascript"></script>
<body>
	<div class="container">
		<div class="banner">
			<div class="logo"><img src="assets/img/logo-kue.png" alt="logo" width="100%" height="70px"></div>
			<div class="title">Uenak.com<br>
			<div class="text-title">" Uenak, Halal, Lezat, dan Bergizi "</div></div>
			<div class="alamat">
				Perumnas Klender<br>
				Jl. Bunga Rampai Raya No.10<br>
				Duren Sawit - Jakarta Timur<br>
				021-86308636
			</div>
		</div>
		<div class="content">
			<div class="content-kiri">
				<div class="navigation"> 
					<ul> 
						<li><a href="beranda.html">	Beranda</a></li> 
						<li><a href="resep.html">Resep</a>  					
							<ul> 
								<li><a href="resep1.html">Resep Black Forest</a></li>
								<li><a href="resep2.html">Resep Red Velvet</a></li> 
								<li><a href="resep3.html">Resep Lapis Legit</a></li>
								<li><a href="resep4.html">Resep Bika Ambon</a></li>
								<li><a href="resep5.html">Resep Roti Tawar</a></li>
								<li><a href="resep6.html">Resep Puding Cake Buah</a>					  
							</ul> 
						</li>
						<li><a href="order.html">Order</a></li>
						<div class="navigation-best-seller">
						<a href="."><marquee behavior="scroll" class="best-seller">Best Seller</marquee></a> 
						</div>
					</ul>
				</div>
				<div class="promo"><img src="assets/img/bikaambon.jpg" alt="" width="100%" height="140px">Bika Ambon</div>
				<div class="promo"><img src="assets/img/puding.jpg" alt="" width="100%" height="140px">Puding Cake Buah</div>
				<div class="promo"><img src="assets/img/lapislegit.jpg" alt="" width="100%" height="140px">Lapis Legit</div>
			</div>
			<div class="iklan"><marquee behavior="alternate"> Selamat Datang di Uenak.com </marquee></div>
			
			<div class="tentang-kami">
				<p class="tentang-kami--judul">
					About Us<br>
				</p>
				<p class="tentang-kami--isi">Uenak berfokus pada pengembangan bisnis makanan khususnya bakery and cake, yang menjadi andalan kami adalah kue Bika Ambon, Lapis Legit, dan Puding Cake Buah.
				Uenak berupaya menyediakan produk yang berkualitas serta beraneka ragam untuk memenuhi kebutuhan masyarakat yang menyukai bakery and cake.
				</p>
			</div>

			<div class="content-tengah">
				<div class="isi-content">
					<img src="assets/img/blackforest.jpg" alt="" width="100%" height="170px">
					<div class="text-content">Black Forest<br>Rp.200.000 </div>
				</div>
				<div class="isi-content">
					<img src="assets/img/redvelvet.jpg" alt="" width="100%" height="170px">
					<div class="text-content">Red Velvet<br>Rp.190.000 </div>
				</div>
				<div class="isi-content">
					<img src="assets/img/lapislegit.jpg" alt="" width="100%" height="170px">
					<div class="text-content">Lapis Legit<br>Rp.150.000 </div>
				</div>
				<div class="isi-content">
					<img src="assets/img/bikaambon.jpg" alt="" width="100%" height="170px">
					<div class="text-content">Bika Ambon<br>Rp.125.000 </div>
				</div>
				<div class="isi-content">
					<img src="assets/img/rotitawar.jpg" alt="" width="100%" height="170px">
					<div class="text-content">Roti Tawar<br>Rp.40.000 </div>
				</div>
				<div class="isi-content">
					<img src="assets/img/puding.jpg" alt="" width="100%" height="170px">
					<div class="text-content">Puding Cake Buah<br>Rp.160.000 </div>
				</div>
				<div class="pagging">					
			    </div>
			</div>
		</div>
		<div class="footer">Design by Uenak &copy 2016</div>
	</div>
</body>
</html>
<pre><code class="language-markup">